.section-certification {
  border-top: 0.2rem solid #ccc;
  font-family: Tasa-regular;
  padding: 5rem 12rem 20rem 12rem;
  pointer-events: none;
  z-index: 2;
}

.certification-wrapper {
  /* width: 100%; */
}
.certificate {
  border-radius: 5px;
  width: 30.1rem;
  overflow: hidden;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 1rem;
  background-color: rgba(45, 212, 191, 0.15);
  pointer-events: auto;
}
.cert-a {
}

.cert-img {
  width: 28rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.cert-img:hover {
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}
.cert-overlay {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.3);
  background-color: rgba(234, 180, 30, 0.8);
  bottom: 0;
  height: 6rem;
  padding: 1rem;
  font-family: "Tasa-bold";
  font-size: 1.5rem;
  font-weight: 600;
  color: #011f41;
  opacity: 0;
  z-index: 99;
}
/* model */
.certificate-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.cert-img-model {
  width: 60%;
  border-radius: 5px;
}
.btn-close-model {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  pointer-events: auto;
  color: #333;
}
.grid-3-col-cert {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  justify-items: center;
}

